<div class="user-administration">
    <div class="table-header">
        <h1>Administración de usuarios</h1>
        <button mat-button class="btn chess-button chess-create-button" (click)="openUserData()" ><span>Invitar usuario</span></button>
    </div>


    <div class="table-container">
        <table mat-table [dataSource]="userList" class="user-table mat-elevation-z8"> 
        
            <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
                <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                <td mat-cell (click)="openUserData(element)" *matCellDef="let element"> {{element[column]}} </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row class="user-data" *matRowDef="let row; columns: displayedColumns;"> <i class="fas fa-ellipsis-v"></i> </tr>
        
        </table>
    </div>
    

</div>